# package directories
node_modules

# Webpack directories
.webpack

lib/
dist/
outputs/
puppeteer/
localTest.ts
localTest.*
*.zip

.env
.env.txt

.nyc_output/
coverage/
test-results.xml

locaTestCases.ts